.add-todo-form {
    background: linear-gradient(to right, #007bff, #6a0dad);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.add-todo-form input {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    color: #333;
}


.add-todo-form {
    background: linear-gradient(to right, #007bff, #6a0dad);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.add-todo-form input {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.add-todo-form button {
    background-color: #6a0dad;
    border: .5px solid #fff;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.add-todo-form button:hover {
    background-color: #530d9c;
}
