body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    background: linear-gradient(to right, #9b5de5, #f15bb5, #fee440);
    color: white;
    height: 100vh;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: none !important; /* Override Tailwind's max-width */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    width: 100%;

}

.todo-item {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: 100%;
}

.todo-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}

.todo-item .todo-content {
    display: inline-block;
    margin-left: 0.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.todo-item .todo-content.line-through {
    text-decoration: line-through;
}

.todo-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

.todo-item button:hover {
    text-decoration: underline;
}

.logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
}

.logout-button:hover {
    background-color: #0056b3;
}