.todo-item {
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    transition: transform 0.2s;
}

.todo-item:hover {
    transform: translateY(-5px);
}

.todo-item .todo-content {
    display: inline-block;
    margin-left: 0.5rem;
}

.todo-item .todo-content.line-through {
    text-decoration: line-through;
}

.todo-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.todo-item button:hover {
    text-decoration: underline;
}
